/* Choose Your Seat */
.left-side > div:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  align-self: flex-start;
}

/* Screen */
.left-side > div:nth-child(3) {
  font-size: 14px;
  font-weight: 600;
  color: #4e4b66;
}

/* Seating Key */
.left-side > div:nth-child(5) {
  align-self: flex-start;
  font-size: 18px;
  font-weight: 600;
}

.seating-key {
  display: flex;
  gap: 14px;
}

.selected {
  background-color: var(--primary);
}

.love {
  background-color: #f589d7;
}

.sold {
  background-color: #6e7191;
}

/* RIGHT SIDE */
.right-side {
  width: 358px;

  display: flex;
  flex-direction: column;
  gap: 42px;
}

.right-side-info > img,
.right-side-info > h2 {
  align-self: center;
}

.right-side-info {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  display: flex;
  flex-direction: column;
}

.right-side-info > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-side-info > h2 {
  margin-bottom: 32px;
}

.right-side-info > div > div {
  display: flex;
  justify-content: space-between;
}

.right-side-info > div > div > span:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #6b6b6b;
}

.right-side-info > div > div > span:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
  color: #14142b;
}

.full-hr-line {
  margin-left: -24px;
  margin-right: -24px;
  border-bottom: 1px solid #dedede;
}

.total-text {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #000000 !important;
}

.total-amount {
  font-weight: 700 !important;
  font-size: 24px !important;
  color: var(--primary) !important;
}

.btn {
  display: block;
  width: 100%;
  height: 64px;
  border: none;
  background-color: var(--primary);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  font-size: 16px;
  font-weight: 600;
  color: white;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
