@import url(./globals.css);
@import url(./navbar.css);
@import url(./footer.css);

main {
  background-color: #a0a3bd33;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

/* -- STEPS -- */
.outer-steps {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;
}

.steps {
  margin: 32px auto 32px auto;
  display: flex;
  gap: 24px;

  align-items: center;
}

.steps > span:nth-child(2),
.steps > span:nth-child(4) {
  width: 64px;
  border-bottom: 1px dashed #a0a3bd;
  border-image: repeating-linear-gradient(
      to right,
      #a0a3bd 0,
      #a0a3bd 10px,
      transparent 10px,
      transparent 20px
    )
    1;
}

.steps-num {
  height: 47px;
  width: 47px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary);
  border-radius: 50%;
  color: white;
}

.steps-num-off {
  background-color: #a0a3bd;
}

.steps-text {
  white-space: nowrap;
}

.steps-text-off {
  color: #a0a3bd;
}

.steps-green {
  background-color: #008000;
}

.steps-blue {
  background-color: #1d4ed8;
}

form {
  background-color: #ffffff;
  width: 732px;
  padding: 38px;
  border-radius: 6px;
  margin-bottom: 48px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.container-payment,
.container-personal {
  display: flex;
  flex-direction: column;
  gap: 18px;

  margin-bottom: 24px;
}

.payment-label {
  font-weight: 400;
  font-size: 14px;
  color: #8692a6;
  margin-bottom: 8px;
}

.payment-content {
  font-weight: 400;
  font-size: 16px;
}

.full-hr-line {
  border-bottom: 1px solid #dedede;
}

.total-payment {
  color: #1d4ed8;
  font-weight: 700;
}

.personal-content {
  width: 100%;
  height: 64px;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin-top: 8px;
}

input[type="text"] {
  color: #4e4b66;
  font-size: 18px;
  padding: 12px 24px;
}

.personal-label {
  font-size: 16px;
}

.container-method {
  margin-bottom: 24px;
}

.container-method > h2 {
  margin-bottom: 18px;
}

.container-method > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.btn-method {
  background-color: #ffffff;
  border: 2px solid #dedede;
  border-radius: 8px;
  padding: 14px 24px;
  cursor: pointer;
}

.btn-method:hover {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btn-pay {
  background-color: #1d4ed8;
  color: #f7f7fc;
  font-weight: 700;
  font-size: 700;
  padding: 18px;
  border: 0;
  border-radius: 4px;

  cursor: pointer;

  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn-pay:hover {
  background-color: #1d4fd8e3;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* MODAL */

.payment-modal {
  width: 573px;
  padding: 25px 14px;

  border-radius: 16px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;

  /* display: none; */
}

.modal-on {
  position: absolute;
  top: 20%;
  z-index: 2;
}

/* Masking */
.mask {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;

  align-self: center;
}

.payment-left-right {
  display: flex;
  align-items: center;
}

.payment-label {
  font-weight: 400;
  font-size: 14px;
  color: #8692a6;
}

.no-rek {
  font-weight: 700;
  font-size: 18px;
  color: #14142b;
  margin-left: 150px;
}

.btn-copy {
  font-weight: 400;
  font-size: 14px;
  color: #1d4ed8;
  background-color: #ffffff;
  padding: 12px 12px;
  border: 1px solid #1d4ed8;
  border-radius: 5px;

  margin-left: 10px;
}

.payment-total {
  font-weight: 700;
  font-size: 18px;
  color: #1d4ed8;

  margin-left: 400px;
}

.payment-detail {
  font-weight: 400;
  font-size: 16px;
  color: #a0a3bd;
}

.red-text {
  color: #d00707;
  font-weight: 400;
}

/* Button */
.btn-check-pay {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  color: #f7f7fc;
  background-color: #1d4ed8;
  border: 0;
  border-radius: 4px;
  padding: 14px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn-pay-later {
  font-weight: 700;
  font-size: 16px;
  color: #1d4ed8;
  border: 0;
  background-color: #ffffff;

  align-self: center;

  margin-bottom: 24px;
}

/* 
.container-method > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

*/

/* --- RESPONSIVE --- */
@media screen and (max-width: 768px) {
  .container-method > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
